{% extends "base.html" %}
{% block content %}
    {# -- events -- #}
    {% if show_events and events %}
        {% include "home/events.html" %}
    {% endif %}
    {# -- tasks -- #}
    {% if show_tasks and task_folders and some_tasks %}
        {% include "home/tasks.html" %}
    {% endif %}
    {# -- due tasks -- #}
    {% if show_due_tasks and due_tasks %}
        {% include "home/due_tasks.html" %}
    {% endif %}
    {# -- search -- #}
    <div class="search-weather-row">
        {% include "home/search.html" %}
        {% if show_weather and weather %}
            {% include "home/weather_indicator.html" %}
        {% endif %}
        {% if show_weather and not weather %}
            <script>
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(pos) {
                        var form = new FormData();
                        form.append("lat", pos.coords.latitude);
                        form.append("lon", pos.coords.longitude);
                        fetch("{% url 'home-save-location' %}", {
                            method: "POST",
                            headers: {"X-CSRFToken": "{{ csrf_token }}"},
                            body: form
                        }).then(function() {
                            window.location.reload();
                        });
                    });
                }
            </script>
        {% endif %}
    </div>
    {# -- favorites -- #}
    {% include "home/favorites.html" %}
{% endblock content %}
