{% comment %}
A folder's favorites on the home page. Swapped in whole when a favorite
is shown or hidden.
{% endcomment %}
<ul class="list-group">
    {% for favorite in folder.favorites %}
        <li class="list-group-item favorite-item"
            data-favorite-id="{{ favorite.id }}"
            data-search="{{ favorite.name|lower }} {{ favorite.host }} {{ favorite.description|default:''|lower }}">
            <a class="home-link" href="{{ favorite.url }}">
                {% if favorite.has_icon %}
                    <img class="favicon"
                         src="{% url 'site-icon' host=favorite.host %}"
                         alt=""
                         width="16"
                         height="16"
                         loading="lazy">
                {% else %}
                    <i class="favicon favicon-none icon-link"></i>
                {% endif %}
                <span class="home-link-name">{{ favorite.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
