{% comment %}
A folder's favorites on the home page. Swapped in whole when a favorite
is shown or hidden.
{% endcomment %}
<ul class="list-group">
    {% for favorite in folder.favorites %}
        <li class="list-group-item favorite-item"
            data-favorite-id="{{ favorite.id }}">
            <a class="home-link" href="{{ favorite.url }}">
                {% include "favorites/favicon.html" %}
                <span class="home-link-name">{{ favorite.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
