{% extends "registration/base.html" %}
{% block content %}
    <p class="card-text">Log in to your account.</p>
    <form id="login-form" class="account-form" method="post">
        {% csrf_token %}
        {% comment %}
            The site's form template leaves out errors that belong to the
            whole form, which is where a wrong username or password goes, so
            they are shown here
        {% endcomment %}
        {% if error or form.non_field_errors %}
            <ul class="errorlist nonfield">
                {% if error %}<li>{{ error }}</li>{% endif %}
                {% for message in form.non_field_errors %}<li>{{ message }}</li>{% endfor %}
            </ul>
        {% endif %}
        {{ form }}
        <div class="flex-container login-bottom">
            <div class="login-bottom-left">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
            <div class="login-bottom-right">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
        </div>
    </form>
{% endblock content %}
