{% extends "settings/main.html" %}
{% block subcontent %}
    <div class="card">
        <div class="card-title flex-center-space">
            <h1>Crypto Symbols</h1>
            <a class="square-button"
               href="{% url 'settings-crypto-symbol-add' %}"
               title="Add a symbol">
                <i class="icon-plus"></i>
            </a>
        </div>
        <p class="card-text">The cryptocurrency symbols you track.</p>
        {% if symbols %}
            <div class="table-container">
                <table class="table symbols-table">
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th class="symbol-col-active">Active</th>
                        <th class="symbol-col-edit"></th>
                        <th class="symbol-col-delete"></th>
                    </tr>
                    {% for symbol in symbols %}
                        <tr>
                            <td>{{ symbol.symbol }}</td>
                            <td>{{ symbol.name }}</td>
                            <td class="symbol-col-active">
                                {% if symbol.is_active %}<i class="icon-circle-check" title="Active"></i>{% endif %}
                            </td>
                            <td class="symbol-col-edit">
                                <a class="btn-icon"
                                   href="{% url 'settings-crypto-symbol-edit' symbol.id %}"
                                   title="Edit">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                            <td class="symbol-col-delete">
                                <a class="btn-icon"
                                   href="{% url 'settings-crypto-symbol-delete' symbol.id %}"
                                   title="Delete">
                                    <i class="icon-circle-x"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p class="card-text">No symbols yet.</p>
        {% endif %}
    </div>
{% endblock subcontent %}
