{% comment %}
A favorite's site icon, or a link glyph while the site has none, unless
the user has icons off (Settings, Home). Context: favorite (with host
and has_icon from site_icons.with_hosts).
{% endcomment %}
{% if user.home_icons %}
    {% if favorite.has_icon %}
        <img class="favicon"
             src="{% url 'site-icon' host=favorite.host %}"
             alt=""
             width="16"
             height="16"
             loading="lazy">
    {% else %}
        <i class="favicon favicon-none icon-link"></i>
    {% endif %}
{% endif %}
